<div class="row">
  <div class="col-md-5">
    <h2>{{vm.stateNames[vm.stateName]}}</h2>
  </div>
  <div class="col-md-7 hidden-print">
      <div class="input-group">
        <label class="sr-only" for="candidateFilterValueInput">Filter:</label>
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" id="candidateFilterValueInput" ng-model="vm.candidateFilterValue"
               aria-label="Filter candidates by name, party, occupation, or entered vote" placeholder="Filter candidates by name, party, occupation, or entered vote">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="vm.candidateFilterValue = null">
          <i class="fa fa-times"></i>
          Clear filter
        </button>
      </span>
      </div>
  </div>
</div>

<ballotbuilder election-state="{{vm.stateName}}" candidate-filter="vm.candidateFilterValue"></ballotbuilder>
