@import "../../node_modules/bootstrap/dist/css/bootstrap.css"
$fa-font-path = "../../node_modules/font-awesome-stylus/fonts/"
@import "../../node_modules/font-awesome-stylus/stylus/index"

@media print
  @page
    size: landscape

